catboost
joblib
lightgbm
pandas
xgboost
multidict
pillow
rdkit
scikit-learn
scipy
seaborn
#datamol==0.1.3
streamlit
fsspec
importlib-resources
joblib
loguru
matplotlib
numpy
packaging
pandas
pillow
platformdirs
scikit-learn
scipy
selfies
tqdm
typing-extensions
filelock
gcsfs
h5py
mordredcommunity
pmapper
pyarrow
pydantic
python-dotenv
pyyaml
s3fs
scipy
torch
molfeat
datamol
rdkit==2024.3.1

