# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

catboost
datamol
joblib
jupyterlab
lightgbm
molfeat
pandas
rdkit
scikit-learn
streamlit
xgboost
sklearn

