catboost
joblib
lightgbm
pandas
xgboost
multidict
pillow
scikit-learn
scipy
seaborn
streamlit
fsspec
importlib-resources
joblib
loguru
matplotlib
numpy<2
packaging
pandas
pillow
platformdirs
scikit-learn
scipy
selfies
tqdm
typing-extensions
filelock
gcsfs
h5py
mordredcommunity
pmapper
pyarrow
pydantic
python-dotenv
pyyaml
s3fs
scipy
torch
datamol==0.12.4
rdkit==2023.09.5
tensorflow
molfeat
#pycairo
nox
